---
language: python
python: "2.7"

sudo: true
dist: trusty

addons:
  apt:
    packages:
    - python-pip
    - python-apt

services:
  - docker

env:
  global:
    - DOCKER_USER=yanniksembritzki
    - secure: dKq5NdQ/70SCACzW8LXleahRxoEhXexmUZspA/XyGEM3McTGjIPLxnNCbAsgZ3YNy+hrHpg4+EYPWACO/Sl+1bH53EX5TryaWBoCrF6DJF7B3JVwfH37xB7z/pSaKTD1txq/8GyMjCPWhCLeVHsQ/G/p63wzbRzu4iFSNo7B48graMRB+ee3Fh5yc+8O1VKwKEyQVEUSlRo031/uJ6FFAdJnTez6YO/tyUzpo7yJFY/n9QX+R/2ohoP8hDrmTHhXxWmsV73JGhXNqBj2Xv4viY2ZMyKVvaQ8OdOvtfsnvzeO2TvB4FdnGvM1N4tSwWNODXdX4agMQ1hAAHcKaIsO8tYbRUpTwbTJccLb8dYPFNU16fnjHgOyqyoMKAtUAVS6ZzUTNjuMBUKPUJhc8Vy1cnSaL0FsUflveagCxs1KYxQLXt0XOqKGT7B/70epOZKL4qbZdgHtB7sa4oE2tcA+2oPBEZy5+Wx+YwyZjzE1xpS1pd/MuI60xB1hAPvyQRrP2baQibjmMyighCK/ccnl88dgam88sk5Eh/vQTgZ/s1QOHQ/CezIi8QbCCorxtBU2au42aGVUdc9HAMIzmWv0NDPPjM/LeN291jH4QdBAfYYmX87tO1R0xgGgCxMbo2lCjSwCQj3E66Ae2roCxSLd6KTAcCKRxua9P5Z0bsxnpRI=
  matrix:
    - DOCKER=true
    - DOCKER=false

install:
  # Install ansible
  - pip install ansible

  - pip install 'ansible-container[docker]'

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

script:
  # Test role locally
  - ${DOCKER} || ansible-playbook tests/test.yml -i tests/inventory --syntax-check
  - ${DOCKER} || ansible-playbook tests/test.yml -i tests/inventory --connection=local --sudo
  - >
    ${DOCKER} || ansible-playbook tests/test.yml -i tests/inventory --connection=local --sudo
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  # Build docker container
  - ${DOCKER} && docker login --username "${DOCKER_USER}" --password "${DOCKER_PASS}" || true
  - ${DOCKER} && cd tests/ansible-container && ansible-container --debug build 2>&1 | tee build.log || true
  #- ${DOCKER} && cd tests/ansible-container && ansible-container --debug build 2>&1 | tee build.log || true
  #- ${DOCKER} && hash=$(cat build.log | grep "Exported.*with image ID" | sed 's/.*sha256:\(.*\)/\1/g') || true
  #- ${DOCKER} && docker tag $hash ${DOCKER_USER}/asterisk:latest || true
  #- ${DOCKER} && docker push ${DOCKER_USER}/asterisk:latest || true
  - ${DOCKER} && cd tests/ansible-container && ansible-container push --tag ${DOCKER_USER}/asterisk:latest

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
