- name: Get current install_prereq md5sum
  shell: md5sum {{ asterisk_src_dir }}/contrib/scripts/install_prereq
  failed_when: false
  changed_when: false
  register: asterisk_install_prereq_md5sum

- name: Download/update asterisk src
  git:
    repo: https://github.com/asterisk/asterisk.git
    dest: "{{ asterisk_src_dir }}"
    version: "{{ asterisk_git_version }}"
    update: "{{ (asterisk_state == 'latest') }}"
    depth: 1
  register: asterisk_src_download

- name: Get current install_prereq md5sum
  shell: md5sum {{ asterisk_src_dir }}/contrib/scripts/install_prereq
  failed_when: false
  changed_when: false
  register: asterisk_install_prereq_md5sum_new

- name: Check installable dependencies
  shell: >
    {{ asterisk_src_dir }}/contrib/scripts/install_prereq test \
    | grep "aptitude install -y" \
    | sed 's/aptitude install -y //g'
  when: asterisk_install_prereq_md5sum.stdout != asterisk_install_prereq_md5sum_new.stdout
        and ansible_connection == 'docker'
  register: asterisk_build_deps

- name: Print dependencies to be installed
  debug: msg={{asterisk_build_deps.stdout}}
  when: not asterisk_build_deps|skipped

- name: Install aptitude (otherwise install_prereq fails)
  apt: name=aptitude state=present

- name: Let asterisk install dependencies
  shell: export DEBIAN_FRONTEND=noninteractive && ./contrib/scripts/install_prereq install chdir={{ asterisk_src_dir }}
  when: asterisk_install_prereq_md5sum.stdout != asterisk_install_prereq_md5sum_new.stdout

- block:
  - name: Download mp3 source code
    command: ./contrib/scripts/get_mp3_source.sh chdir={{ asterisk_src_dir }} creates=addons/mp3/mpg123.h
  
  - name: Configure asterisk
    command: ./configure {{ asterisk_configure_options }} chdir={{ asterisk_src_dir }}

  - name: Create menuselect.makeopts
    command: make menuselect.makeopts chdir={{ asterisk_src_dir }}
  
  - name: Do a bit of menuselect configuration
    # menuselect/menuselect creates a new config everytime, so we need to run it ONCE
    # with all options!
    # app_macro is required for freepbx but not enabled by default on asterisk >= 16
    command: >
      menuselect/menuselect --enable app_macro --enable format_mp3
      --enable CORE-SOUNDS-EN-WAV --enable CORE-SOUNDS-EN-G722
      --enable EXTRA-SOUNDS-EN-WAV --enable EXTRA-SOUNDS-EN-G722 --enable EXTRA-SOUNDS-EN-GSM
      --disable-category MENUSELECT_MOH
    args:
      chdir: "{{ asterisk_src_dir }}"
  
  - name: Run custom pre-make commands
    command: "{{ item }} chdir={{ iasterisk_srcdir }}"
    with_items: "{{ asterisk_pre_make_commands }}"
  
  - name: Make
    command: make {{ asterisk_make_options }} chdir={{ asterisk_src_dir }}
  
  - name: Uninstall previous version
    command: make uninstall chdir={{ asterisk_src_dir }}
  
  - name: Install
    command: make install chdir={{ asterisk_src_dir }}
  
  - name: Install initscripts
    command: make config chdir={{ asterisk_src_dir }}
  
  - name: Install config
    command: make samples chdir={{ asterisk_src_dir }}

  - name: Install logrotate
    command: make install-logrotate chdir={{ asterisk_src_dir }}
  when: asterisk_src_download|changed

- name: Remove /usr/src/asterisk when running on docker
  file: path=/usr/src/asterisk state=absent
  when: ansible_connection == 'docker'

- name: Uninstall corrupt dh-python package (otherwise the next command fails)
  command: apt purge -y dh-python
  when: not asterisk_build_deps|skipped and ansible_connection == 'docker'

- name: Uninstall build dependencies when running on docker
  command: apt-get purge -y --auto-remove {{ asterisk_build_deps.stdout }}
  when: not asterisk_build_deps|skipped and ansible_connection == 'docker'

- name: Install runtime dependencies when running on docker
  command: apt-get install --no-install-recommends -y libxml2 libxslt1.1 libjansson4 libedit2 lua5.1 libmariadbclient18 unixodbc libsqlite0 libcurl3 libiksemel3 libbluetooth3 libasound2 zlib1g libspeex1 libspeexdsp1 libogg0 libspandsp2 libsrtp0 libresample1 libsnmp30 libpq5 libpopt0 libc-client2007e libcorosync-common4 libgsm1 libical2 libneon27 libssl1.0.2 libvorbis0a libvorbisenc2 libvorbisfile3 libldap-2.4-2 libjack0  uuid
  when: not asterisk_build_deps|skipped and ansible_connection == 'docker'
